[Unit]
Description=minima_$PORT
[Service]
User=minima
Type=simple
ExecStart=/usr/bin/java -Xmx1G -jar $HOME/$MINIMA_JAR_NAME $MINIMA_PARAMS
Restart=always
RuntimeMaxSec=21600
RestartSec=100
[Install]
WantedBy=multi-user.target
